<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users in db by pattern</title>
    <link rel="stylesheet" href="content/table.css">
</head>
<body>
<h1>List of users in db by pattern</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${result}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/form">Back to form</a>
</body>
</html>